GestionEventosVuelos/EventosAereos/SOA/WSDLs/alert-on-air.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://alert-on-air.ws.com.co" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://alert-on-air.ws.com.co">

	<wsdl:types>
		<xs:schema targetNamespace="http://alert-on-air.ws.com.co">
			<xs:element name="alertOnAirRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="aircrat-tail-number" />
						<xs:element type="xs:string" name="flight-external-key" />
						<xs:element type="xs:string" name="level" />
						<xs:element type="xs:string" name="description" />
						<xs:element type="xs:date" name="date" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="alertOnAirResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="code" />
						<xs:element type="xs:string" name="description" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="alertOnAirRequest">
		<wsdl:part name="in" element="tns:alertOnAirRequest" />
	</wsdl:message>
	<wsdl:message name="alertOnAirResponse">
		<wsdl:part name="out" element="tns:alertOnAirResponse" />
	</wsdl:message>

	<wsdl:portType name="AlertOnAirEndpoint">
		<wsdl:operation name="create">
			<wsdl:input message="tns:alertOnAirRequest" />
			<wsdl:output message="tns:alertOnAirResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AlertOnAir" type="tns:AlertOnAirEndpoint">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="create">
			<soap:operation soapAction="http://alert-on-air.ws.com.co"
				style="document" />
			<wsdl:input>
				<soap:body parts="in" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="out" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AlertOnAirEndpointService">
		<wsdl:port name="AlertOnAirEndpoint" binding="tns:AlertOnAir">
			<soap:address location="http://localhost:8181/cxf/ws/alert-on-air" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
