GestionEventosVuelos/EventosAereos/SOA/WSDLs/cancel-flight.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://cancel-flight.ws.com.co" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://cancel-flight.ws.com.co">

	<wsdl:types>
		<xs:schema targetNamespace="http://cancel-flight.ws.com.co">
			<xs:element name="cancelFlightRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="aircrat-tail-number" />
						<xs:element type="xs:string" name="flight-external-key" />
						<xs:element type="xs:string" name="description" />
						<xs:element type="xs:date" name="date" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancelFlightResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="code" />
						<xs:element type="xs:string" name="description" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="cancelFlightRequest">
		<wsdl:part name="in" element="tns:cancelFlightRequest" />
	</wsdl:message>
	<wsdl:message name="cancelFlightResponse">
		<wsdl:part name="out" element="tns:cancelFlightResponse" />
	</wsdl:message>

	<wsdl:portType name="CancelFlightEndpoint">
		<wsdl:operation name="cancelFlight">
			<wsdl:input message="tns:cancelFlightRequest" />
			<wsdl:output message="tns:cancelFlightResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CancelFlight" type="tns:CancelFlightEndpoint">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="cancelFlight">
			<soap:operation soapAction="http://cancel-flight.ws.com.co"
				style="document" />
			<wsdl:input>
				<soap:body parts="in" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="out" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CancelFlightEndpointService">
		<wsdl:port name="CancelFlightEndpoint" binding="tns:CancelFlight">
			<soap:address location="http://localhost:8181/cxf/ws/cancel-flight" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
