GestionEventosVuelos/EventosAereos/SOA/WSDLs/maintenance-planner.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://maintenance-planner.ws.com.co" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://maintenance-planner.ws.com.co">

	<wsdl:types>
		<xs:schema targetNamespace="http://maintenance-planner.ws.com.co">
			<xs:element name="maintenancePlannerRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="aircrat-tail-number" />
						<xs:element type="xs:string" name="flight-external-key" />
						<xs:element type="xs:string" name="arrivalAirport" />
						<xs:element type="xs:string" name="arrivalGate" />
						<xs:element type="xs:string" name="departureAirport" />
						<xs:element type="xs:string" name="departureGate" />
						<xs:element type="xs:date" name="startDate" />
						<xs:element type="xs:date" name="endDate" />
						<xs:element type="xs:string" name="status" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="maintenancePlannerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="code" />
						<xs:element type="xs:string" name="description" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="maintenancePlannerRequest">
		<wsdl:part name="in" element="tns:maintenancePlannerRequest" />
	</wsdl:message>
	<wsdl:message name="maintenancePlannerResponse">
		<wsdl:part name="out" element="tns:maintenancePlannerResponse" />
	</wsdl:message>

	<wsdl:portType name="MaintenancePlannerEndpoint">
		<wsdl:operation name="sendMaintenance">
			<wsdl:input message="tns:maintenancePlannerRequest" />
			<wsdl:output message="tns:maintenancePlannerResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MaintenancePlanner" type="tns:MaintenancePlannerEndpoint">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendMaintenance">
			<soap:operation soapAction="http://maintenance-planner.ws.com.co"
				style="document" />
			<wsdl:input>
				<soap:body parts="in" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="out" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MaintenancePlannerEndpointService">
		<wsdl:port name="MaintenancePlannerEndpoint" binding="tns:MaintenancePlanner">
			<soap:address location="http://localhost:8181/cxf/ws/maintenance-planner" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
